$dark-blue: #2f3ab2;
$white: #ffffff;
$gray: #f5f5f5;
$light-gray: #e5e5e5;
$dark-gray: #404040;
$black: #171717;
$green:#198754;
$red:#dc3545;

$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-xmd: 1.25rem;
$font-xxmd: 1.5rem;
$font-xxxmd: 1.875rem;
$font-lg: 2.25rem;
$font-xlg: 3rem;
$font-xxlg:4rem; 

$bp-lg:64em;
$bp-md:58.75em;
$bp-sm:48em;
$bp-xsm:30em; 